*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

# binaries
*.ipa
*.app
*.apk

# Calabash / Cucumber
rerun/
reports/
screenshots/
screenshot*.png
test-servers/

